@import url('./variables.css');
@import url('./fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--text2);
  background-color: var(--BG);
  min-height: 100vh;
}

.padding-x {
  padding-inline: 135px;
}
